data/*
*.env
!data/cc_dataset_with_labels.csv
!data/merchant_data.json
!data/credit_cards.json
!data/mcc_description.json
!data/sd254_users.csv
src/card_consultant/__pycache__/agent.cpython-39.pyc
*.pyc
